# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

tmpdata/*
vendor/*
.DS_Store

# IDE specific folders
.vscode

# only ignore contents of local .idea
.idea/*
# but allow .idea shared run configurations
!.idea/runConfigurations/


#binary - go build
generic-executor-service
main
_forAndi.sh
script-repository/andi_dynatrace.metric.http
script-repository/andi_create.dynatrace.metric.http
tmpdata/2d373436-3335-4932-b139-373734313435.event.json
